@import 'utils/normalize';
@import 'utils/reset';
@import 'utils/colors';
@import 'utils/media-query';
@import 'utils/mixin';

//Setup
@sidebar-w: 50px;
@sidebar-bg-bolor: @base-border-color;
@sidebar-icon-size: 30px;
@menu-width: 180px;
@z-top: 100;
@menu-height: 70px;

//Generic Rules
html, body {
  background: @base-background-color;
  color: @text-color;
}

.under-construction {
  color: @background-color-info;
  .icn {
    display: block;
    font-size: 30px;
  }

}

