@import 'utils/normalize';
@import 'utils/reset';
@import 'utils/colors';
@import 'utils/media-query';
@import 'utils/mixin';

@import 'resizer';
@import 'tabs';

//Setup
@tab-bar-h: 36px;

//Generic Rules
html, body {
  background: @base-background-color;
  color: @text-color;
  font-family: 'Source Code Pro', monospace;
}

.sidebar {
  white-space: nowrap !important;
  overflow: scroll;
  height: 100%;

  .title {
    padding: 0 15px;
    line-height: 40px;
    font-size: 16px;
    height: @tab-bar-h;
    border-left: 2px solid @tab-close-hover-color;

    i {
      display: inline-block;
      font-size: 20px;
      vertical-align: middle;
    }
  }
}

.content {
  height: 100%;

  .tab-bar {
    height: @tab-bar-h;
    background: @base-background-color;
    border-bottom: 1px solid @base-border-color;

    &.empty {
      border-bottom: none;
    }
  }

  .content-editor {
    background: @dark-background-color;
    overflow: scroll;
    position: absolute;
    top: @tab-bar-h;
    left: 0;
    right: 0;
    bottom: 0;

    &.empty {
      background: @base-background-color;
    }
  }

  .code {
    white-space: nowrap;
    font-size: 16px;
    margin: 10px 0;
    counter-reset: line;

    span {
      cursor: text;
      display: block;
      line-height: 24px;

      &.selected {
        background: @line-highlight;
        &:before {
          color: @line-number-highlight;
        }
      }

      &:before {
        width: 33px;
        text-align: right;
        counter-increment: line;
        content: counter(line);
        display: inline-block;
        color: @line-number;
        padding-right: 15px;
      }
    }
  }
}
