.sidebar {
  white-space: nowrap !important;
  overflow: scroll;
  height: 100%;

  .title {
    padding: 0 15px;
    line-height: 40px;
    font-size: 16px;
    height: @tab-bar-h;
    border-left: 2px solid @tab-close-hover-color;

    i {
      display: inline-block;
      font-size: 20px;
      vertical-align: middle;
    }
  }

  .file-tree {
    list-style: none;
    padding: 0; margin: 0;

    &.inner-level {
      text-indent: 18px;
      .file-tree-elem {
        &.directory {
          padding-left: 16px;
        }
        &.file {
          padding-left: 35px;
        }
        .chevron {
          padding-right: 6px;
        }
      }
    }

    .file-tree-elem {
      padding: 0 15px 5px 15px;

      .octicon-chevron-right {
        display: none !important;
      }
      .octicon-chevron-down {
        display: inline-block !important;
      }

      &.collapsed {
        .octicon-chevron-right {
          display: inline-block !important;
        }
        .octicon-chevron-down {
          display: none !important;
        }
      }

      &.directory {
        padding-left: 33px;
      }
      &.file {
        padding-left: 49px;
      }

      .selected {
        color: @text-color-highlight;
      }

      .chevron {
        padding-right: 4px;
        font-size: 12px;
        vertical-align: middle;
      }
      .type {
        letter-spacing: 5px;
        vertical-align: middle;
      }
      .list-label {
        text-indent: 0;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
