.sidebar {
  white-space: nowrap !important;
  overflow: scroll;
  height: 100%;

  .title {
    padding: 0 15px;
    line-height: 40px;
    font-size: 16px;
    height: @tab-bar-h;
    border-left: 2px solid @tab-close-hover-color;

    i {
      display: inline-block;
      font-size: 20px;
      vertical-align: middle;
    }
  }
}
