@import '../../scss/measures';
@import '../../scss/colors';
@import '../../scss/functions';

.ContentSwitch {
  background: $dark-background-color;
  overflow: scroll;
  position: absolute;
  top: $tab-bar-h;
  left: 0;
  right: 0;
  bottom: 0;
}

.LineLengthLimiter {
  position: absolute;
  top: 0;
  @include media-breakpoint-up(lg) {
    left: 600px;
  }
  @include media-breakpoint-up(xl) {
    left: 750px;
  }
  width: 0;
  border-right: 1px solid $line-length-limit;
  pointer-events: none;
}
