@import '../../scss/measures';
@import '../../scss/colors';

.Footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: $footer-h;
  background: $base-background-color;
  border-top: 1px solid $base-border-color;
  font-size: 13px;

  &__elem {
    cursor: default;
    padding-top: 3px;
    display: inline-block;
    padding-left: 50px;

    &:first-child {
      padding-left: 0;
    }
  }
}
