.code {
  white-space: nowrap;
  font-size: 16px;

  @media @only-xs {
    font-size: 13px;
  }

  margin: 10px 0;
  counter-reset: line;

  .code-line {
    cursor: text;
    display: block;
    line-height: 24px;

    &.selected {
      background: @line-highlight;
      &:before {
        color: @line-number-highlight;
      }
    }

    &:before {
      @media @only-xs {
        width: 20px;
      }
      .no-select();
      width: 33px;
      text-align: right;
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      color: @line-number;
      padding-right: 15px;
    }

    .operator {
      color: @hue-1;
    }
    .tag {
      color: @hue-5-2;
    }
    .tag2 {
      color: @hue-2;
    }
    .tag3 {
      color: @hue-3;
    }
    .tag4 {
      color: @hue-4;
    }

    .attr-key {
      color: @hue-6;
    }

    .attr-val {
      color: @hue-4;
    }

    .common {
      color: @text-color;
    }

    .comment {
      color: @hue-7;
    }

    .devicons {
      font-size: 18px;
    }
  }
}
