.code {
  white-space: nowrap;
  font-size: 16px;
  margin: 10px 0;
  counter-reset: line;

  span {
    cursor: text;
    display: block;
    line-height: 24px;

    &.selected {
      background: @line-highlight;
      &:before {
        color: @line-number-highlight;
      }
    }

    &:before {
      width: 33px;
      text-align: right;
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      color: @line-number;
      padding-right: 15px;
    }
  }
}
