@import '../../scss/measures';
@import '../../scss/colors';
@import '../../scss/functions';

.CodeLine {
  cursor: text;
  display: block;
  line-height: 24px;

  &:before {
    @include media-breakpoint-down(xs) {
      width: 20px;
    }
    @include noSelect();
    width: 33px;
    text-align: right;
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    color: $line-number;
    padding-right: 15px;
  }

  &--selected {
    background: $line-highlight;
    &:before {
      color: $line-number-highlight;
    }
  }
}

.CodeBlock {
  white-space: nowrap;
  font-size: 16px;

  // @include media-breakpoint-down(xs) {
  //   font-size: 14px;
  // }

  margin: 10px 0;
  counter-reset: line;
}

.CommentLine {
  color: $hue-7;
}

.HtmlLine {
  color: $text-color;
  &__tag {
    color: $hue-5;
  }
  &__content {
    color: darken($text-color-highlight, 15%);
  }
  &__attr-key {
    color: $hue-6;
  }
  &__attr-value {
    color: $hue-4;
  }
}

.CssBlock {
  color: $text-color;

  &__selector {
    &--id {
      color: $hue-2;
    }
    &--class {
      color: $hue-6;
    }
    &--tag {
      color: $hue-5;
    }
    &--tag-attribute {
      color: $hue-6;
    }
    &--tag-attribute-separator {
      color: $text-color;
    }
  }

  &__rule-value {
    color: $hue-6;
  }
  &__rule-string {
    color: $hue-4;
  }
}
